{% extends 'provernalog/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'provernalog/css/about.css' %}">
{% endblock %}

{% block content %}
<div class="block about">
    <div class="about__top_text">О сервисе</div>
    <div class="about__main_text">
        <p>
           Сервис ПроверьНалог работает в рамках методического сопровождения Программы профессиональной
           переподготовки «Государственная кадастровая оценка» Российского экономического университета им.
           Г.В. Плеханова. С 2016 года подготовку прошли ведущие специалисты и руководители нескольких
           десятков Государственных бюджетных учреждений, осуществляющих государственную кадастровую оценку.
        </p>
        <p>
            ПроверьНалог помогает собственникам земельных участков и других объектов недвижимости проверить
            правильность определения их кадастровой стоимости и обеспечить справедливость налогообложения.
            Если кадастровая стоимость выше рыночной, сервис поможет найти ошибку и составить квалифицированное
            и обоснованное обращение в ГБУ для ее исправления.
        </p>
        <p>
            ПроверьНалог помогает ГБУ выполнять Поручение Президента России В.В. Путина, повышая качество
            государственной кадастровой оценки. Сервис обеспечивает контроль качества работы ГБУ и повышает
            результативность работы ГБУ с налогоплательщиками, в том числе сокращая количество возможных
            обращений в суд.
        </p>
        <p>
            Работу сервиса обеспечивает профессиональная команда экспертов с уникальными компетенциями,
            в том числе с многолетним опытом работы в сфере разработки методологии, а также выполнения
            и контроля качества отчётов по определению кадастровой стоимости.
        </p>
    </div>
    <div class="about__bottom">
        <div class="about__bottom_top_text">
            <b>Руководителем проекта ПроверьНалог</b> является методический куратор Программы
            профессиональной переподготовки «Государственная кадастровая оценка» <b>А.В. Каминский</b>:
        </div>
        <img src="{% static 'images/you3351.png' %}" alt="" class="about__bottom_img">
        <div class="about__bottom_main_text">
            <p style="margin-top: 0;">
                — Председатель Комиссии Общественного совета при Росреестре по кадастровой оценке
                и оспариванию кадастровой стоимости;
            </p>
            <p>
                — Один из инициаторов создания и активный участник Рабочей группы Государственной
                Думы РФ «Совершенствование законодательства в области имущественных налогов,
                кадастровой оценки и оценочной деятельности».
            </p>
            <p>
                — Имеет опыт массовой оценки недвижимости и государственной кадастровой оценки с 1994 года
            </p>
        </div>
        <div class="about__sub">
            <img class="vector_service" src="{% static 'images/Vector-service.png' %}" alt="">
            Свяжитесь с нами:
            <div class="about__sub_text">
            <img class="service_icon" src="{% static 'images/envelope.png' %}" alt="">
            info@provernalog.ru
        </div>
        </div>
    </div>
</div>
{% endblock %}