{% extends 'provernalog/base.html' %}
{% load static %}


{% block content %}
    {% include 'provernalog/blocks/block_1.html' %}
    {% include 'provernalog/blocks/block_2.html' %}
    {% include 'provernalog/blocks/block_3.html' %}
    {% include 'provernalog/blocks/block_4.html' %}
    {% include 'provernalog/blocks/block_5.html' %}
    {% include 'provernalog/blocks/block_6.html' %}
    {% include 'provernalog/blocks/block_7.html' %}
    {% include 'provernalog/blocks/block_8.html' %}
    {% include 'provernalog/blocks/block_9.html' %}
    {% include 'provernalog/blocks/block_10.html' %}
    {% include 'provernalog/blocks/block_11.html' %}
{% endblock %}