{% extends 'provernalog/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'provernalog/css/privacy.css' %}">
{% endblock %}

{% block content %}
    <div class="block privacy">
        <div class="privacy__top_text">Политика конфиденциальности сайта</div>
        <div class="privacy__main_text">
            <p>
                Администрация сайта provernalog.ru (далее - Сайт) с уважением относится к правам
                посетителей Сайта. Мы безоговорочно признаем важность конфиденциальности личной
                информации посетителей нашего Сайта, в т.ч. персональных данных
                (<a href="/">«Политика обработки и защиты персональных данных»</a>).
            </p>
            <p>
                Посещая Сайт и передавая свои персональные и контактные данные на Сайте, Вы полностью
                соглашаетесь с данной Политикой конфиденциальности.
            </p>
            <b>Основные положения нашей политики конфиденциальности формулируются следующим образом:</b>
            <ul>
                <li>Мы не передаем Ваши персональные данные третьим лицам.</li>
                <li>Мы не передаем Вашу контактную информацию без Вашего согласия.</li>
                <li>Вы самостоятельно определяете объем предоставляемой персональной информации.</li>
            </ul>
            <b>Собираемая информация</b>
            <p>Мы собираем следующую информацию:</p>
            <ul>
            <li>Ваша персональная информация (в т.ч. персональные данные), которую Вы сознательно
                согласились предоставить нам, заполнив формы на Сайте.</li>
            <li>Техническая информация, автоматически собираемая программным обеспечением
                Сайта во время его посещения.
            </li>
            <li>
                Персональная информация, предоставляемая Вами при заполнении формы «Узнать ценовые факторы
                и исправить ошибки» на Сайте, проверке на достоверность не подвергается. Вы самостоятельно
                определяете объем и содержание предоставляемых персональных данных (в сведениях о пользователе
                не все поля являются обязательными, есть возможность предоставления обезличенных данных).
            </li>
            <li>
                Во время посещения вами Сайта, администрации Сайта автоматически становится доступной информация
                из стандартных журналов регистрации сервера (server logs). Сюда включается IP-адрес Вашего
                компьютера (или прокси-сервера, если он используется для выхода в Интернет), имя Интернет-провайдера,
                имя домена, тип браузера и операционной системы, информация о сайте, с которого Вы совершили переход
                на Сайт, страницах Сайта, которые Вы посещаете, дате и времени этих посещений, файлах, которые Вы
                загружаете. Это информация анализируется нами в агрегированном (обезличенном) виде для анализа
                посещаемости Сайта, и используется при разработке предложений по его улучшению и развитию.
                Связь между Вашим IP-адресом и Вашей персональной информацией никогда не раскрывается третьим лицам,
                за исключением тех случаев, когда это требует законодательство.
            </li>
            <li>
                Техническую информацию о посещении Сайта (обезличенную) также собирают установленные на сайте счетчики статистики.
            </li>
            </ul>
            <b>Использование полученной информации</b>
                <p>
                    Информация, предоставляемая Вами при обратной связи, а также техническая информация
                    используется исключительно для улучшения работы сайта. Информация, предоставляемая Вами
                    при заполнении формы «Узнать ценовые факторы и исправить ошибки» на Сайте используется
                    исключительно для связи с Вами и информирования о новостях и актуальных возможностях, связанных
                    с устранением искажения кадастровой стоимости. Вся контактная информация, которую Вы нам
                    предоставляете, раскрывается только с Вашего разрешения. Адреса электронной почты и контактные
                    телефоны никогда не публикуются на Сайте и используются нами только для связи с Вами.
                </p>
            <b>Предоставление информации третьим лицам</b>
            <p>
                Мы никогда не предоставляем Вашу личную информацию третьим лицам, кроме случаев, когда это
                прямо может требовать законодательство (например, по запросу суда).
            </p>
            <b>Заключительные положения</b>
            <p>
                Никакие из содержащихся здесь заявлений не означают заключения договора или соглашения между
                Владельцем Сайта и Посетителем сайта, предоставляющим персональные данные и контактную информацию.
                Политика конфиденциальности лишь проинформирует Вас о подходах Сайта к работе с персональными данными.
                Мы оставляем за собой право вносить изменения в настоящую политику конфиденциальности в любое
                время без предварительного уведомления.
            </p>
</div>
    </div>
{% endblock %}