<div class="block footer">
    <div class="footer__top_text">
        Проверьте кадастровую стоимость и узнайте, что вы можете сделать, чтобы не переплатить налоги
    </div>
    <form action="/search-res/">
        <input class="footer__input block_2__input" name="cadastral_number" type="text"
               placeholder="Введите кадастровый номер объекта">
        <input type="submit" class="footer__button  block_2__button"
                value="Проверьте кадастровую стоимость">
    </form>
</div>
<div class="footer_desc">
    <a href="/privacy-policy/">
        <div class="footer_desc__policy">
            Политика конфиденциальности
        </div>
    </a>
</div>