{% load static %}
<div class="header">
    <a href="/"><div class="header_logo">Проверь<span style="color: #0B8D66;">Налог</span></div></a>
    <div class="header_help">
        <div class="header_help__text">
            Проект реализуется при поддержке рабочей группы Государственной Думы
            «Совершенствование законодательства в области имущественных налогов,
            кадастровой оценки и оценочной деятельности»"
        </div>
        <div class="header_help__logo">
            <img src="{% static 'images/gd.png' %}" alt="">
        </div>
        <div class="header_nav">
            <a href="/analytics/"><div class="header_nav__element">Аналитика</div></a>
            <a href="/add-service/"><div class="header_nav__element">О сервисе</div></a>
        </div>
    </div>
</div>