{% load static %}
<div class="block block_11">
    <div class="block_11__top_text">Как найти ошибки</div>
    <div class="block_11__main block_11__main_left">
        <img src="{% static 'images/icons/num_1.png' %}" alt="" class="block_11__main_img">
        Разобраться, какие характеристики объекта принимались в расчет кадастровой
        стоимости, и проверить насколько они соответствуют факту.
        <img src="{% static 'images/icons/Vector-1 (2).png' %}" alt="" class="block_11__main_vector_1">
    </div>
    <div class="block_11__main block_11__main_right">
        <img src="{% static 'images/icons/num_2.png' %}" alt="" class="block_11__main_img">
        Понять, как в расчетной модели учтены эти характеристики.
        <img src="{% static 'images/icons/Vector (2).png' %}" alt="" class="block_11__main_vector_2">
    </div>
    <div class="block_11__main block_11__main_left">
        <img src="{% static 'images/icons/num_3.png' %}" alt="" class="block_11__main_img">
        Написать (при наличии ошибок в Проекте отчета) грамотные замечания,
        чтобы ГБУ приняло решение о перерасчёте кадастровой стоимости.
    </div>
    <div class="block_11__sub_wrap">
        <div class="block_11__sub_text">
            <img src="{% static 'images/icons/new-file.png' %}" alt="" class="block_11__sub_img">
            Если вы сомневаетесь в успехе, мы поможем составить заявление в ГБУ с обоснованием
            ошибок, допущенных при определении кадастровой стоимости.
            <img src="{% static 'images/icons/Vector-1 (2).png' %}" alt="" class="block_11__sub__vector">
        </div>
    </div>
    <div class="block_11__sub_wrap">
        <div class="block_11__sub_text">
            <img src="{% static 'images/icons/new-file.png' %}" alt="" class="block_11__sub_img">
            Вы платите за помощь в составлении обращения в ГБУ, только если в Проекте отчета найдены ошибки,
            влияющие на кадастровую стоимость объекта
        </div>
    </div>
</div>