<div class="block block_9">
    <div class="block_9__left">
        <div class="block_9__left_top">19</div>
        <div class="block_9__left_sub">Более</div>
        <div class="block_9__left__main">
            миллионов объектов только в Москве и Московской области
        </div>
    </div>
    <div class="block_9__right">
        <div class="block_9__right_top">
            Почему возникают ошибки в оценке стоимости?
        </div>
        <div class="block_9__right_main">
            <p>
                Кадастровую оценку проводят специализированные государственные бюджетные учреждения — ГБУ.
                Им нужно оценить миллионы земельных участков и объектов недвижимости.
            </p>
            <p>
                ГБУ определяют кадастровую стоимость по массовому принципу, то есть вынуждены учитывать только часть
                значимых параметров объекта. Это может искажать результат как в меньшую, так и в большую сторону.
            </p>
        </div>
    </div>
</div>