{% load static %}
<div class="block block_5">
    <div class="block_5__img">
        <img src="{% static 'images/home.png' %}" alt="home">
    </div>
    <div class="block_5__top_text">О чём идет речь?</div>
    <div class="block_5__main_text">
        Налоги на землю и имущество рассчитываются от их кадастровой стоимости.
        Кадастровая стоимость не должна быть выше рыночной. Но на практике такое
        иногда случается. А если кадастровая стоимость завышена — налоги на
        недвижимость увеличиваются, иногда — многократно.
    </div>
    <div class="block_5__sub_text">
        Добившись справедливой кадастровой оценки, можно снизить:
    </div>
    <div class="block_5__bottom">
        <div class="block_5__bottom_element">
            <img class="element_img" src="{% static 'images/icons/Group.png' %}" alt="nothing">
            <span class="element_span">
                Земельный налог
            </span>
        </div>
        <div class="block_5__bottom_element">
            <img class="element_img" src="{% static 'images/icons/house.png' %}" alt="nothing">
            <span class="element_span">
                Налог на имущество
            </span>
        </div>
        <div class="block_5__bottom_element">
            <img class="element_img" src="{% static 'images/icons/apartment.png' %}" alt="nothing">
            <span class="element_span">
                Арендную плату за землю, торговые или офисные площади
            </span>
        </div>
        <div class="block_5__bottom_element">
            <img class="element_img" src="{% static 'images/icons/rich.png' %}" alt="nothing">
            <span class="element_span">
                Выкупную цену
            </span>
        </div>
    </div>
    <a href="#search">
        <input type="button" class="block_5___button block_2__button" value="Проверьте кадастровую стоимость">
    </a>
</div>