{% load static %}
<div class="block block_8">
    <div class="block_8__top_text">Как понять, что кадастровая стоимость завышена</div>
    <div class="block_8__main_wrap">
        <div class="block_8__main_text">
            <img src="{% static 'images/icons/one.png' %}" alt="" class="block_8__main_img">
            Она сильно отличается от рыночной (по кадастровой стоимости вы
            не сможете продать ваш земельный участок или здание)
        </div>
        <div class="block_8__main_text">
            <img src="{% static 'images/icons/two.png' %}" alt="" class="block_8__main_img">
            Кадастровая стоимость соседних объектов заметно ниже стоимости вашего
        </div>
        <div class="block_8__main_text">
            <img src="{% static 'images/icons/three.png' %}" alt="" class="block_8__main_img">
            Вы недовольны величиной земельного налога или налога на имущество
        </div>
    </div>
    <div class="block_8__bottom_text">
        В этих случаях нужно найти основания снижения кадастровой стоимости, которые будут приняты ГБУ.
    </div>
    <a href="#search">
        <input type="button" class="block_8__button block_2__button" value="Проверьте кадастровую стоимость">
    </a>
</div>