<div class="block block_7">
    <div class="block_7__top_text">Почему стоит действовать сейчас?</div>
    <div class="block_7__main_text">
        <div class="block_7__main_element block_7__main_element_1">
            <span class="block_7__main_sub">Быстро</span>
            <span class="block_7__main_span">
                Достаточно обратиться напрямую в ГБУ и указать на ошибки в расчёте при их наличии
            </span>
        </div>
        <div class="block_7__main_element block_7__main_element_2">
            <span class="block_7__main_sub">Просто</span>
            <span class="block_7__main_span">
                Не надо доказывать вашу правоту в суде или комиссии Росреестра
            </span>
        </div>
        <div class="block_7__main_element block_7__main_element_3">
            <span class="block_7__main_sub">Доступно</span>
            <span class="block_7__main_span">
                Вы можете сделать это сами, или с нашей помощью
            </span>
        </div>
    </div>
    <a href="#search">
        <input type="button" class="block_7__button block_2__button" value="Проверьте кадастровую стоимость">
    </a>
</div>