<div class="block block_4">
    <div class="block_4__top_text">Как работает сервис?</div>
    <div class="block_4__main_text">1. Вы вводите кадастровый номер объекта</div>
    <div class="block_4__main_text">2. Сервис показывает:</div>
    <div class="block_4__sub_text">
          <p>— действующую кадастровую стоимость
              (по ней будут начислены налоги за текущий год)</p>
          <p>— кадастровую стоимость из Проекта отчета
              (её есть возможность пересмотреть)</p>
          <p>— насколько отличается кадастровая стоимость
              из Проекта отчета от действующей</p>
          <p>— характеристики объекта, использованные при
              определении кадастровой стоимости</p>
    </div>
    <div class="block_4__main_text">
        3. Сервис предлагает возможности для перерасчёта
        кадастровой стоимости, которые есть у вас прямо сейчас. И
        это — самое ценное.
    </div>
    <a href="#search">
        <input type="button" class="block_4__button block_2__button" value="Проверьте кадастровую стоимость">
    </a>
</div>