{% load i18n %}
<script type="text/javascript">var go_from_select = function(opt) { window.location = window.location.pathname + opt };</script>

<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>


<ul>
    <li>
        {% with choices.0 as all_choice %}
            <input class="during" value="{{ spec.parameter_name }}" type="number" min="0"
                    name="group_appraise"/>
            <button class="during">Применить</button>
        </form>
        {% endwith %}
    </li>
</ul>